.headercss {
     position: fixed;
     width: 100%;
     top: 0;
     z-index: 999;
     background-color: white;
     transition-property: box-shadow;
     transition-duration: 0.1s;
}
 .card-padding {
     padding: 2%;
     float: left;
}
 .decent-space-top {
     margin: 5%;
}
 .relpos {
     position: relative;
     margin-top: 5%;
}
 .imagepos {
     max-width: 50%;
     height: auto;
     border-radius: 50%;
}
 .introcss {
     position: relative;
     padding: 5%;
     margin-top: 20%;
     text-align: center;
     z-index: 1;
}
 .about-section {
     position: relative;
     padding: 5%;
     min-height: 500px;
     color: #fff;
}
 .research-section {
     position: relative;
     color: #fff;
     padding: 5%;
}
 .contact-section {
     position: relative;
     padding: 5%;
     color: #fff;
}
 .indicator-css {
     text-align: center;
}
 .project-card {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition-property: box-shadow;
     transition-duration: 0.5s;
}
 .project-card:hover , .research-card:hover{
     box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.5);
}
 .theme {
     background-image: linear-gradient(0deg,#000,#fff);
     font-family: Poppins,Helvetica,Arial,sans-serif;
}
 .heavy-font {
     line-height: 1.1;
     font-weight: 600;
     letter-spacing: -2%;
}
 .subtitle-font {
     font-size: 3em;
}
 .title-font {
     font-size: 4em;
}
 .research-card {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition-property: box-shadow;
     transition-duration: 0.5s;
}
 img.crossfade {
     position: absolute;
     left: 0;
     animation-name: cf4FadeInOut;
     animation-duration: 14s;
     animation-iteration-count: infinite;
}
 @media only screen and (min-width: 468px) {
     .introcss {
         margin-top: 10%;
    }
     .imagepos {
         max-width: 25%;
         height: auto;
         border-radius: 50%;
    }
     .relpos {
         position: relative;
         margin-top: 1% 
    }
}
/*Following was Understood and implemented from http://css3.bradshawenterprises.com/cfimg
/*/
 @keyframes cf4FadeInOut {
     0% {
         opacity: 1;
    }
     6.25% {
         opacity: 1;
    }
     12.5% {
         opacity: 0;
    }
     93.75% {
         opacity: 0;
    }
     100% {
         opacity: 1;
    }
}
 img.crossfade:nth-of-type(1) {
     opacity: 0;
     animation-delay: 14s;
}
 img.crossfade:nth-of-type(2) {
     opacity: 0;
     animation-delay: 12s;
}
 img.crossfade:nth-of-type(3) {
     opacity: 0;
     animation-delay: 10s;
}
 img.crossfade:nth-of-type(4) {
     opacity: 0;
     animation-delay: 8s;
}
 img.crossfade:nth-of-type(5) {
     opacity: 0;
     animation-delay: 6s;
}
 img.crossfade:nth-of-type(6) {
     opacity: 0;
     animation-delay: 4s;
}
 img.crossfade:nth-of-type(7) {
     opacity: 0;
     animation-delay: 2s;
}
 img.crossfade:nth-of-type(8) {
     animation-delay: 0s;
}
 